body{
    margin: 0;
    padding: 0;
}

header{
    padding: 10px;
    margin: 0 0 30px 0;
}

/* ----------------------------Estilos del header------------------------------- */

.header_flex{
    width: 100%;
    height: 100px;
    min-height: 100px;
    display: flex;
}

.info_empresa{
    width: 30%;
    display: flex;
}

.logo{
    width: 140px;
    height: 100px;
}

.title{
    margin: 30px 0 0 15px;
    font-family: "Segoe UI";
}

.barra_nav{
    width: 55%;
}

.barra_nav nav{
    width: 100%;
    margin: 40px 0;
    text-align: center;
}

.barra_nav li{
    width: 100%;
    margin: 60px;
    display: inline;
    list-style: none;
}

.barra_nav a{
    font-family: "Segoe UI";
    text-decoration: none;
    color: black;
}

.iconos_{
    width: 15%;
    text-align: center;
}

.iconos_ i{
    margin: 38px 10px;
    font-size: 23px;
}

.iconos_ i:hover{
    cursor: pointer;
}

/*  ----------------------------estilos del main------------------------------- */

.main__flex{
    width: 95%;
    margin: auto;
    display: flex;
}

.section_productos{
    width: 70%;
    height: 490px;
    margin: 15px 0 40px 0;
    padding: 4px;
    border-radius: 10px;
    text-align: center;
    font-family: "Segoe UI";
}

.grid_products{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 250px);
}


/* ------------------------------estilos del anuncio----------------------------- */

.anuncio_empresa{
    width: 95%;
    height: 40%;
    margin: 10px auto;
}

.flex__anuncio{
    width: 100%;
    height: 40%;
    display: flex;
    border-radius: 20px;
    background: #333;
}

.img_anuncio{
    width: 40%;
}

.img_anuncio img{
    width: 100%;
    height: 100%;
    border-radius: 20px 0 0 20px;
}

.texto_anuncio{
    width: 60%;
    margin: 0 0 0 40px;
    font: oblique bold 390% cursive;
}

.texto_anuncio p{
    margin:10% auto;
}


/* -------------------------------estilos de los productos--------------------- */ 

.card__product{
    margin: 10px;
    border-radius: 10px;
    background: #888;
}

.description__card{
    font-family: "Segoe UI";
    font-size: 15px;
}

.description__card p{
    margin:7px 0;
}

.img__card{
    width: 100px;
    height: 100px;
}

.content_card{
    margin: 15px auto;
}

/* ---------------------------------estilos de las ofertas----------------------- */

.ofertas_products{
    width: 30%;
}

.Oferta{
    width: 75%;
    height: 370px;
    margin: 39% auto;
    padding: 5px 20px;
    text-align: center;
    border-radius: 10px;
    display: block;
    font-family: "Segoe UI";
    background: #333;
}

.Oferta p{
    font-size: 20px;
}

.Oferta i{
    font-size: 50px;
}

.Oferta i:hover{
    cursor: pointer;
}

.descuento{
    width: 100%;
}

.num__descuento{
    font-size: 80px;
}

/* ---------------------------estilos de botones cantidad de productos--------------------- */

.btn_cantidad{
    display: inline;
}

.cantidad{
    width: 30px;
    margin: 0 3px;
    border: 0;
    border-radius: 4px;
}

.btn__carrito{
    width: 140px;
    margin: 10px 10px;
    padding: 5px;
    border: 0;
    border-radius: 5px;
}

.btn__carrito:active{
    background: red;
}

.btn_cantidad{
    width: 25px;
    height: 25px;
    font-size: 15px;
    border: 0;
    border-radius: 50%;
}

.dicho{
    margin: 0;
    text-align: center;
    font-family: "Segoe UI";
    font-size: 50px;
}

/* ----------------------estilos section de chaquetas-------------------------- */

.section_chaquetas{
    width: 87%;
    margin: 70px auto;
}

.section_productos_chaquetas{
    width: 100%;
    margin: 0 0 50px 0;
    text-align: center;
}

.section_productos_chaquetas h2{
    font-family: "Segoe UI";
}


/* --------------------estilos del carrito-------------------------- */

.carrito{
    display: none;
    position: absolute;
    width: 580px;
    max-width: 580px;
    height: 350px;
    max-height: 350px;
    margin: -136% 0 0 52%;
    padding: 10px 0;
    border-radius: 10px;
    font-family: "Segoe UI";
    background: #777;
}

.carrito table{
    width: 100%;
    text-align: center;
}

.carrito i{
    margin: 0 15px 0 0;
} 

.carrito i:hover{
    cursor: pointer;
}

.cerrar__carrito{
    width: 10px;
    height: 30px;
    margin: 0 0 5px 12px;
    border: 0;
    border-radius: 50%;
    font-size: 23px;
    background: #777;
}

.cerrar__carrito:hover{
    cursor: pointer;
}


/* ----------------estilos adicionales del carrito--------------- */

.opciones{
    width: 45%;
    margin: auto;
}

.flex_carrito{
    width: 100%;
    display: flex;
}

.table{
    width: 100%;
    height: 350px;
    max-height: 350px;
    margin: 0 10px 0 0;
    overflow-y: scroll;
}

.total_compra{
    width: 100%;
    margin: auto;
    text-align: center;
}

.total_compra p{
    display: inline;
    font-family: "Segoe UI";
}

.total_compra input{
    width: 100px;
    margin: 10px 0 20px 0;
    padding: 5px;
    border: 0;
    border-radius: 10px;
}

.boton_compra{
    width: 100%;
    margin: auto;
    text-align: center;
}

.boton_compra button{
    width: 80%;
    margin: 0 0 10px 0;
    padding: 10px;
    border: 0;
    border-radius: 20px;
}